.categoria {
  width: 100%;
  background: var(--color-gray-darker);
  border-radius: 5px;
  padding: 5px 0;
  margin-bottom: 20px;
}

.categoria h2 {
  font-size: 1.8rem;
  color: var(--color-title);
}