.separador-topo {
    height: 20px;
    width: 100%;
    background: var(--color-background);
    position: sticky;
    top: -5px;
  }
  
  .select-block {
    position: sticky;
    top: 10px;
    background: var(--color-gray-lighter);
    padding: 20px 10px;
    border: 1px solid var(--color-gray-border);
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .select-block select {
    width: 100%;
    height: 4rem;
    border-radius: 0.5rem;
    background: var(--color-background);
    border: 1px solid var(--color-select-border);
    color: var(--color-text);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
    overflow: hidden;
  }