/* CABEÇALHO - INÍCIO */

header {
  height: 100px;
  width: 100%;
  padding: 16px;
  position: absolute;
  top: 0;
  background-color: var(--color-banner);
  text-align: center;
}

header img {
  max-width: 200px;
}

/* CABEÇALHO - FIM */

.pagina {
  width: 90%;
  margin: 80px 5%;
  padding-top: 40px;
}

.produtos {
  padding: 0 1px;
}

/* RESUMO DO PEDIDO - INÍCIO */

.main {
  width: 100%;
  height: 100vh;
  align-items: center;
  text-align: center;
}

.main .resumo-do-pedido {
  position: fixed;
  bottom: 0;
  width:100%;
}

.main .resumo-do-pedido .topo-do-pedido {
  background-color: var(--color-primary);
  color: var(--color-text-button);
  border: unset;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-content: flex-end;
  justify-content: center;
  text-align: center;
}

.o {
  height: 120px!important;
}

.a {
  height: calc(100vh - 112px)!important;
}

.main .resumo-do-pedido .topo-do-pedido .counter {
  background-color: var(--color-text-button);
  color: var(--color-primary);
  border-radius: 2.4rem;
  width: 3rem;
  height: 2.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 35%;
  margin-top: 2rem;
}

.main .resumo-do-pedido .topo-do-pedido .titulo {
  margin-top: 1.5rem;
}

.main .resumo-do-pedido .topo-do-pedido .ir-ao-topo i {
  font-size: 6rem;
}

.inactive {
  display: none;
}

.active {
  display: block;
}

.main .resumo-do-pedido .det {
  background-color: var(--color-background);
  height: calc(100vh - 56px);
}

.categoria {
  width: 100%;
  background: var(--color-gray-darker);
  border-radius: 5px;
  padding: 5px 0;
  margin-bottom: 20px;
}

.categoria h2 {
  font-size: 1.8rem;
  color: var(--color-title);
}

.marcador {
  height: 30px;
}

/* RESUMO DO PEDIDO - FIM */
/* RESUMO DO PEDIDO PARTE DE DENTRO - INÍCIO */

.detalhes-do-pedido {
  font-size: 1.6rem;
  background: var(--color-gray-lighter);
  height: calc(100% - 85px);
  overflow-y: scroll;
}

.detalhes-do-pedido .msg-do-carrinho {
  padding: 15px;
  border-bottom: 1px solid var(--color-gray-border);
  text-align: center;
}

.detalhes-do-pedido .listagem-de-produtos {
  padding: 15px;
  border-bottom: 1px solid var(--color-gray-border);
}

.detalhes-do-pedido .nota-do-pedido {
  padding: 15px;
  border-bottom: 1px solid var(--color-gray-border);
}

.detalhes-do-pedido .listagem-de-produtos .lista {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detalhes-do-pedido .listagem-de-produtos .lista i {
  color: var(--color-red);
}

.detalhes-do-pedido .nota-do-pedido .dados {
  line-height: 2em;
}

.detalhes-do-pedido .nota-do-pedido .dados .dados-txt {
  text-align: right;
}

.detalhes-do-pedido .nota-do-pedido .dados .dados-val {
  text-align: left;
  color: var(--color-title);
}

.detalhes-do-pedido .nota-do-pedido .total {
  font-size: 1.8rem;
  color: var(--color-title);
  font-weight: 700;
}

.detalhes-do-pedido .detalhes {
  padding: 15px;
  line-height: 2em;
  height: 100%;
}

.detalhes-do-pedido .detalhes .title {
  font-size: 1.8rem;
  color: var(--color-title);
  font-weight: 700;
}

.detalhes-do-pedido .detalhes .endereco {
  display: flex;
  padding-top: 15px;
  justify-content: center;
  color: var(--color-primary);
  font-size: 1.4rem;
}

.detalhes-do-pedido .detalhes .endereco i {
  font-size: 2rem;
}

.detalhes-do-pedido .detalhes .endereco a {
  text-decoration: none;
  color: var(--color-primary);
  margin-top: -3px;
}

.detalhes-do-pedido .detalhes .metodo-de-envio {
  padding-top: 15px;
}

.detalhes-do-pedido .detalhes .metodo-de-pagamento {
  padding: 15px 0;
}

.detalhes-do-pedido .detalhes .metodo-de-pagamento .troco {
  padding-top: 15px;
  height: 4rem;
}

.detalhes-do-pedido .fixed-bottom {
  position: absolute;
  bottom: 0;
  background: var(--color-gray-medium);
  width: 100%;
  height: 85px;
  border-top: 1px solid var(--color-gray-darker);
  display: flex;
  justify-content: center;
  align-items: center;
}

.detalhes-do-pedido .fixed-bottom a {
  background: var(--color-primary);
  text-decoration: none;
  color: var(--color-text-button);
  width: 80%;
  padding: 12px 4px;
  border-radius: 5px;
  font-weight: 700;
}

.detalhes-do-pedido .fixed-bottom img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-bottom: 3px;
}

.popups-de-entrega {
  width: 100%;
  overflow-y: scroll;
}

.popups-de-entrega input {
  margin-top: 15px;
  height: 4rem;
}

.popups-de-entrega h2 {
  padding: 20px 0;
}

.popups-de-entrega button {
  background: var(--color-primary);
  color: var(--color-text-button);
  border: none;
  width: 80%;
  padding: 12px 4px;
  margin-top: 25px;
  border-radius: 5px;
  font-weight: 700;
}

.popups-de-entrega button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-bottom: 3px;
}

.popups-de-entrega .popup {
  padding: 15px;
  width: 100%;
}
/* RESUMO DO PEDIDO PARTE DE DENTRO - FIM */


.item {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1.8fr;
  grid-template-areas: "descricao imagem";
  padding-bottom: 30px;
  border-bottom: 1px solid var(--color-gray-darker);
  margin-bottom: 20px;
}

.descricao-do-produto {
  grid-area: descricao;
  padding-right: 10px;
}

.descricao-do-produto h3 {
  font-size: 1.8rem;
  color: var(--color-title);
  line-height: 1.4;
  text-align: left;
}

.descricao-do-produto p {
  font-size: 1.3rem;
  text-align: left;
  line-height: 1.3;
  padding-top: 5px;
  padding-bottom: 10px;
}

.descricao-do-produto .botao-adicionar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  margin-top: 2px;
  justify-content: center;
}

.descricao-do-produto .botao-adicionar i {
  font-size: 16px;
}

.descricao-do-produto .botao-adicionar a {
  padding: 5px 6px;
  font-size: 1.4rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-text-button);
  background: var(--color-primary);
  border-radius: 5px;
}

.descricao-do-produto .botao-adicionar span {
  margin-left: 5px;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-green);
}

.imagem-do-produto {
  overflow: hidden;
  grid-area: imagem;
  text-align: end;
  padding-top: 20px;
}

.imagem-do-produto img {
  width: 100%;
  height: auto;
  max-width: 180px;
  cursor: pointer;
  border-radius: 5px;
}

/* PopUp */

.product-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-gray-lighter);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dados-do-popup-do-produto {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 30px;
  height: 100%;
}

.fechar-popup {
  width: 38px;
  height: 38px;
  border-radius: 38px;
  background: var(--color-background);
  position: absolute;
  top: 15px;
  right: 18px;
}

.fechar-popup i {
  color: var(--color-primary);
  font-size: 4rem;
}

.imagem-do-produto {
  overflow: hidden;
  text-align: center;
}

.imagem-do-popup img {
  width: 100%;
  height: auto;
  max-width: 300px;
  cursor: pointer;
  border-radius: 5px;
  padding-top: 20px;
}

.conteudo-do-popup-do-produto .descricao-do-produto p{
  font-size: 1.6rem;
  text-align: center;
}

.observacoes {
  padding-top: 20px;
}

.adicionar-produto-ao-carrinho {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  margin-left: -30px;
  background: var(--color-gray-darker);
  border-top: 1px solid var(--color-gray-border);
}

.adicionar-produto-ao-carrinho .quantidade {
  margin-top: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.adicionar-produto-ao-carrinho .quantidade input {
  text-align: center;
}

.adicionar-produto-ao-carrinho .quantidade i {
  background: var(--color-primary);
  color: var(--color-text-button);
  width: 34px;
  height: 34px;
  border-radius: 34px;
  text-align: center;
  padding-top: 6px;
}

.adicionar {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  margin-top: 16px;
  justify-content: center;
}

.adicionar a {
  width: 100%;
  padding: 10px 6px;
  font-size: 1.4rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-text-button);
  background: var(--color-primary);
  border-radius: 5px;
}

.adicionar a i {
  font-size: 16px;
}

.separador-topo {
  height: 20px;
  width: 111%;
  margin-left: -5.5%;
  background: var(--color-background);
  position: sticky;
  top: -5px;
}

.select-block {
  position: sticky;
  top: 10px;
  background: var(--color-gray-lighter);
  padding: 20px 10px;
  border: 1px solid var(--color-gray-border);
  border-radius: 5px;
  margin-bottom: 20px;
}

select {
  width: 100%;
  height: 4rem;
  border-radius: 0.5rem;
  background: var(--color-background);
  border: 1px solid var(--color-select-border);
  color: var(--color-text);
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem Archivo;
  overflow: hidden;
  text-align: center;
  text-align-last: center;
}

@media (min-width: 400px){
  .imagem-do-produto {
    padding-top: 0;
  }
}

@media (min-width: 740px){

  ::-webkit-scrollbar-track {
    background-color: var(--color-gray-lighter);
  }
  ::-webkit-scrollbar {
      width: 6px;
      background: var(--color-gray-lighter);
  }
  ::-webkit-scrollbar-thumb {
      background: #dad7d7;
  }

  .resize-mode {
    display: flex;
    margin: 0 auto;
    width: 100%;
    padding: 30px 0 30px 0;
  }
  .o {
    height: auto!important;
  }
  .a {
    height: auto!important;
  }
  .pagina {
    height: 80vh;
    width: 60%;
    float: left;
  }
  .resumo-do-pedido {
    position: fixed;
    top: 170px;
    right: 5%;
    width: 25%!important;
  }
  .ir-ao-topo {
    display: none;
  }
  .resumo-do-pedido .det#showOnDesktop {
    display: block;
  }
  .product-popup {
    max-width: 40%;
    max-height: 580px;
    margin-left: 30%;
    margin-top: 3%;
  }
}