/* CABEÇALHO - INÍCIO */

header {
    height: 100px;
    width: 100%;
    padding: 16px;
    position: absolute;
    top: 0;
    background-color: var(--color-banner);
    text-align: center;
  }
  
  header img {
    max-width: 200px;
  }
  
  /* CABEÇALHO - FIM */
  
  .pagina {
    width: 90%;
    margin: 80px 5%;
  }

  /* RESUMO DO PEDIDO - INÍCIO */
  
  main {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  
  main .resumo-do-pedido {
    position: fixed;
    bottom: 0;
    width:100%;
  }
  
  main .resumo-do-pedido .topo-do-pedido {
    background-color: var(--color-red);
    height: 56px;
    color: var(--color-text-button);
    border: unset;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  
  main .resumo-do-pedido .topo-do-pedido .counter {
    background-color: var(--color-text-button);
    color: var(--color-red);
    border-radius: 2.4rem;
    width: 3rem;
    height: 2.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 35%;
    margin-top: 2rem;
  }
  
  main .resumo-do-pedido .topo-do-pedido .titulo {
    margin-top: 1.5rem;
  }
  
  main .resumo-do-pedido .topo-do-pedido .ir-ao-topo i {
    font-size: 6rem;
  }
  
  main .resumo-do-pedido .inactive {
    display: none;
  }
  
  main .resumo-do-pedido .active {
    display: block;
    background-color: var(--color-background);
    height: calc(100vh - 56px);
  }
  
  /* RESUMO DO PEDIDO - FIM */