.item {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1.8fr;
  grid-template-areas: "descricao imagem";
  padding-bottom: 30px;
  border-bottom: 1px solid var(--color-gray-darker);
  margin-bottom: 20px;
}

.descricao-do-produto {
  grid-area: descricao;
  padding-right: 10px;
}

.descricao-do-produto h3 {
  font-size: 1.8rem;
  color: var(--color-title);
  line-height: 1.4;
  text-align: left;
}

.descricao-do-produto p {
  font-size: 1.3rem;
  text-align: left;
  line-height: 1.3;
  padding-top: 5px;
  padding-bottom: 10px;
}

.descricao-do-produto .botao-adicionar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  margin-top: 2px;
  justify-content: center;
}

.descricao-do-produto .botao-adicionar i {
  font-size: 16px;
}

.descricao-do-produto .botao-adicionar a {
  padding: 5px 6px;
  font-size: 1.4rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-text-button);
  background: var(--color-red);
  border-radius: 5px;
}

.descricao-do-produto .botao-adicionar span {
  margin-left: 5px;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-green);
}

.imagem-do-produto {
  overflow: hidden;
  grid-area: imagem;
  text-align: end;
  padding-top: 20px;
}

.imagem-do-produto img {
  width: 100%;
  height: auto;
  max-width: 180px;
  cursor: pointer;
  border-radius: 5px;
}

/* PopUp */

.product-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-gray-lighter);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dados-do-popup-do-produto {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 30px;
  height: 100%;
}

@media (min-width: 400px){
  .imagem-do-produto {
    padding-top: 0;
  }
}