:root {
  font-size: 60%;

  --color-background: #FFFFFF;
  --color-red: #D40000;
  --color-green: #50a773;
  --color-title: #3A3A3A;
  --color-text: #717171;
  --color-text-button: #FFF;
  --color-banner: #000000;
  --color-select-border: #ddd;

  --color-gray-lighter: #f9f9f9;
  --color-gray-border: #ededed;
  --color-gray-darker: #dcdcdc;
  --color-gray-medium: #f5f3f4;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
}

html, body, #root {
  height: 100vh;
}

body {
  background-color: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body, input, button, textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-text);
}

input {
  width: 100%;
  height: 4rem;
  border-radius: 0.5rem;
  background: var(--color-background);
  border: 1px solid var(--color-select-border);
  color: var(--color-text);
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem Archivo;
  overflow: hidden;
  text-align: center;
  text-align-last: center;
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px){
  :root {
      font-size: 62.5%;
  }
}